body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: purple;
}

.main-collapsible, .sub-collapsible {
    cursor: pointer;
    font-weight: bold;
    color: black;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.main-collapsible-content, .sub-collapsible-content {
    display: none; /* Masque par défaut */
    background-color: #f9f9f9;
    padding: 10px;
}
