body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: purple;
}

.collapsible-header {
    cursor: pointer;
    font-weight: bold;
    color: purple;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.collapsible-content {
    max-height: 0; /* Caché par défaut */
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f9f9f9;
    padding: 0 10px; /* Ajuste le rembourrage à gauche et à droite */
}

    .collapsible-content p,
    .collapsible-content ul {
        padding: 10px 0; /* Rembourrage pour les paragraphes et listes */
        margin: 0; /* Enlève la marge */
    }
